In [1]:
import pandas as pd 
df_airbnb = pd.read_csv("./data/airbnb.csv")

In [2]:
df_propiedad_roberto_clara = df_airbnb[df_airbnb['room_id'].isin([97503, 90387])]
df_propiedad_roberto_clara.to_excel("roberto.xlsx")
df_propiedad_roberto_clara = pd.read_excel('/workspaces/PythonPC5/roberto.xlsx')
df_propiedad_roberto_clara

,Unnamed: 0,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
0,41,90387,490050,Private room,Santo Ant贸nio,204,5,2,1,46
1,48,97503,515924,Private room,Santo Ant贸nio,39,4,2,1,26