In [1]:
import pandas as pd
df_airbnb = pd.read_csv("./data/airbnb.csv")

In [2]:
df_airbnb.head()

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
0,6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
1,17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
2,25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
3,29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
4,29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0

In [3]:
print(f"Cantidad de Filas y Colummnas: { df_airbnb.shape }")

Cantidad de Filas y Colummnas: (13232, 9)

In [4]:
print(f"Nombre de las columnas: \n{df_airbnb.columns}")

Nombre de las columnas:
Index(['room_id', 'host_id', 'room_type', 'neighborhood', 'reviews',
       'overall_satisfaction', 'accommodates', 'bedrooms', 'price'],
      dtype='object')

In [5]:
print(f"Tipos de datos de cada columna: \n{df_airbnb.dtypes}")

Tipos de datos de cada columna:
room_id                   int64
host_id                   int64
room_type                object
neighborhood             object
reviews                   int64
overall_satisfaction    float64
accommodates              int64
bedrooms                float64
price                   float64
dtype: object

In [6]:
print(f"Información general: \n{df_airbnb.info()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13232 entries, 0 to 13231
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   room_id               13232 non-null  int64
 1   host_id               13232 non-null  int64
 2   room_type             13232 non-null  object
 3   neighborhood          13232 non-null  object
 4   reviews               13232 non-null  int64
 5   overall_satisfaction  13222 non-null  float64
 6   accommodates          13232 non-null  int64
 7   bedrooms              13232 non-null  float64
 8   price                 13232 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 930.5+ KB
Información general:
None

In [7]:
print(f"Descripción: \n{df_airbnb.describe()}")

Descripción:
            room_id       host_id       reviews  overall_satisfaction  \
count  1.323200e+04  1.323200e+04  13232.000000          13222.000000
mean   1.055081e+07  3.616444e+07     29.130063              3.284677
std    6.069884e+06  3.706975e+07     42.802762              2.123236
min    6.499000e+03  1.445500e+04      0.000000              0.000000
25%    5.054848e+06  6.197930e+06      2.000000              0.000000
50%    1.166226e+07  2.207571e+07     11.000000              4.500000
75%    1.609631e+07  5.546697e+07     39.000000              5.000000
max    1.940072e+07  1.359156e+08    438.000000              5.000000

       accommodates      bedrooms         price
count  13232.000000  13232.000000  13232.000000
mean       3.917775      1.549501     86.592352
std        2.293757      1.062821    135.208926
min        1.000000      0.000000     10.000000
25%        2.000000      1.000000     45.000000
50%        4.000000      1.000000     64.000000
75%        5.000000      2.000000     93.000000
max       16.000000     10.000000   7496.000000